@import "./global.css";
@import "./fonts.css";
@import "./utils.css";
@import "./components/index.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

.user-score{
    text-align: center;
    color: white;
    margin-top: 2rem;
}