@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.main_header
{
    font-size: 64px;
    color: #1F3F68;
}

.normal_paragraph
{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.h2_header
{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.h3_header
{
    font-size: 36px;
    text-align: center; 
}

.h4_header
{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.form_input
{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    margin-top: 10px;
    margin-bottom: 10px;
}

form
{
    background-image: url("D:\\Учеба\\Web технологии в ИС\\Practice\\formbackground.jpg");
    background-repeat: no-repeat; 
}

.form_label
{
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

.submit_button
{
    background: linear-gradient(0.25turn, #4A74E6, #8C55E9);
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;    
}

.breadcrumbs {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(46, 195, 106) 39%);
    padding: 5px;
    color: black;
    display: flex;
    gap: 10px;
}

.breadcrumbs div {
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid white;
    box-shadow: 2px 0 0 0 black;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

.breadcrumbs div a {
    text-decoration: none;
    color: black;
}
  

